@import "tailwindcss";

@layer base {
  body {
    font-family: "Noto Sans TC", sans-serif;
  }
}

:root {
  --background-color: #15103c;
  --background-color-dark: #09082b;
  --background-color-overlay: #171c4ebb;
  --text-color: #ffffff;
  --text-color-primary: #1a145d;
  --text-color-secondary: #312c5b;
  --border-color: #2c2c69;
  --brightness-light: 2;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 6em;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--background-color);
}

main {
  margin-top: 6em;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

#hero {
  position: relative;
  background: url("/cbg.jpg") center/cover no-repeat;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#aboutMe {
  background-color: var(--text-color);
  color: var(--background-color);
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  color: var(--text-color);
  background: var(--background-color-dark);
  border: 1px solid var(--border-color);
  text-align: center;
  text-decoration: none !important;
}

.btn-primary {
  cursor: pointer;
  color: var(--text-color);
  background: var(--text-color-primary);
  text-align: center;
  text-decoration: none !important;
}

.btn:active,
.btn-primary:active {
  scale: 0.9;
}

.btn-text {
  cursor: pointer;
}

.btn-primary:hover {
  text-decoration: none;
  transition: 0.1s ease-in-out;
  transform: scale(1.05);
}

.bordered {
  border: 3px solid var(--border-color);
}

.shadow {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  gap: 1em;
}

.title {
  font-size: 50px;
}

.label {
  font-size: 42px;
}

.content {
  font-size: 31px;
}

.note {
  font-size: 24px;
}

.hint {
  font-size: 16px;
}

.slide-collapse {
  transition: max-height 0.3s;
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .label {
    font-size: 32px;
  }

  .content {
    font-size: 25px;
  }

  .note {
    font-size: 18px;
  }

  .hint {
    font-size: 14px;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

@layer utilities {
  .animate-pop {
    animation: Pop 0.2s ease-out;
  }
}

@keyframes Pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
