@import "tailwindcss";

/* ==== Base Layer ==== */
@layer base {
  :root {
    --background-color: #171717;
    --background-color-dark: #080808;
    --background-color-primary: #212121;
    --background-color-secondary: #292929;
    --text-color: #ffffff;
    --text-color-primary: #0d59cc;
    --text-color-secondary: #43d3ff;
    --border-color: #333333;
    --brightness-light: 1.2;
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: 6rem;
  }

  html,
  body {
    height: 100%;
  }

  body {
    color: var(--text-color);
    background: var(--background-color-dark);
  }

  #hero {
    position: relative;
    background: url("/cbg.jpg") center/cover no-repeat;
  }

  #hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-color-dark);
    opacity: 0.7;
    z-index: 0;
    /* 防止 hover 等事件被遮罩擋住 */
    pointer-events: none;
  }

  button,
  .btn,
  .btn-primary,
  .btn-secondary {
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .btn {
    background: var(--background-color);
    border: 1px solid var(--border-color);
  }
  .btn-secondary {
    background: var(--background-color-secondary);
    border: 1px solid var(--border-color);
  }

  .btn-primary {
    background: linear-gradient(
      45deg,
      var(--text-color-primary),
      var(--text-color-secondary)
    );
  }

  button:hover,
  .btn:hover,
  .btn-primary:hover,
  .btn-secondary:hover {
    text-decoration: none !important;
    filter: brightness(var(--brightness-light));
  }

  /* .btn:active,
  .btn-primary:active,
  .btn-secondary:active {
    transform: scale(0.9);
  } */

  .container {
    position: relative;
    z-index: 1;
    max-width: 1400px;
    margin-inline: auto;
    padding: 1rem;
    gap: 1rem;
  }

  .card {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }

  a.card:hover {
    --move-y: 0.5rem;
    transform: translateY(calc(-1 * var(--move-y)));
    box-shadow: 0 var(--move-y) 1.5rem rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline 1px;
  }

  .slide-collapse {
    transition: height 0.3s;
    overflow: hidden;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #878787;
  }
}

/* ==== Utilities Layer ==== */
@layer utilities {
  .text-gradient {
    background: linear-gradient(
      45deg,
      var(--text-color-primary),
      var(--text-color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .animate-pop {
    animation: pop 0.2s;
  }

  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    80% {
      opacity: 0.7;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-turn {
    animation: turn 0.3s forwards;
  }

  @keyframes turn {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .underline-spread,
  .hover\:underline-spread {
    position: relative;
  }

  .hover\:underline-spread:hover {
    text-decoration: none !important;
  }

  .underline-spread::after,
  .hover\:underline-spread::after {
    content: "";
    --line-height: 0.25rem;
    position: absolute;
    bottom: -0.25em;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: var(--line-height);
    background: linear-gradient(
      45deg,
      var(--text-color-primary),
      var(--text-color-secondary)
    );
    border-radius: 1rem;
    transition: width 0.3s ease-in-out;
  }

  .underline-spread::after {
    animation: underlineSpreadIn 0.3s ease-in-out forwards;
  }

  .hover\:underline-spread:hover::after {
    width: 120%;
  }

  @keyframes underlineSpreadIn {
    from {
      width: 0;
    }
    to {
      width: 120%;
    }
  }
}
