@import "tailwindcss";

@layer base {
  /* body {
    font-family: "Noto Sans TC", sans-serif;
  } */
}

:root {
  --background-color: #131723;
  --background-color-dark: #0d110d;
  --background-color-overlay: #171c4ebb;
  --text-color: #ffffff;
  --text-color-primary: #1f6feb;
  --text-color-secondary: #212830;
  --border-color: #3d444d;
  --brightness-light: 2;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 6em;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--background-color);
}

#hero {
  position: relative;
  background: url("/cbg.jpg") center/cover no-repeat;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#aboutMe {
  background-color: var(--text-color);
  color: var(--background-color);
}

button {
  cursor: pointer;
}

.btn,
.btn-primary,
.btn-secondary,
.btn-text {
  cursor: pointer;
}

.btn {
  background: var(--background-color);
  border: 2px solid var(--border-color);
}

.btn-primary {
  background: var(--text-color-primary);
}

.btn-secondary {
  background: var(--text-color-secondary);
  border: 2px solid var(--border-color);
}

.btn:active,
.btn-primary:active,
.btn-secondary:active {
  scale: 0.9;
}

.btn-text {
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  gap: 1rem;
}

.card {
  background-color: var(--background-color);
  border-radius: 1rem;
  border: 2px solid var(--border-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.card:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  transform: translateY(-0.25rem);
}

a.card {
  text-decoration: none;
}

.title {
  font-size: 50px;
}

.label {
  font-size: 42px;
}

.content {
  font-size: 31px;
}

.note {
  font-size: 24px;
}

.hint {
  font-size: 16px;
}

.slide-collapse {
  transition: height 0.3s;
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .label {
    font-size: 32px;
  }

  .content {
    font-size: 25px;
  }

  .note {
    font-size: 18px;
  }

  .hint {
    font-size: 14px;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

@layer utilities {
  .animate-pop {
    animation: Pop 0.1s;
  }
  .animate-turn {
    animation: turn 0.2s forwards;
  }
}

@keyframes Pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    opacity: 0.7;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
